/* Main css file */

ol,ul,p,body,td,tr,th,form {
    font-family : helvetica,sans-serif;
    color: black;
} 

html, body {
  height: 100%;
}

header {
    border: 0;
    margin: 0;
    width: 100%;
    height: 225px;
    position: relative;
    display: flex;
}

header span #cedet-logo {
}

#cedet-logo {
    margin: 0px;
    float: left;
}

#cedet-logo-middle {
    margin: 0px;
    float: left;
    background-image: url("../img-gen/cedet-logo-middle.png");
    height: 225px;
    flex-grow: 100;

}

footer {
    display: flex;
    margin-top: 10px;
}

#cedet-logo-bottom {
    margin: 0px;
    float: left;
    background-image: url("../img-gen/cedet-bottom-middle.png");
    flex-grow: 100;
}

#cedet-logo-right {
    overflow:hidden
}

header img{
    height: 225;
}


main {
    margin-top: 3px;

}
.main-container{
    display: grid;
}

main .content {
    padding-right: 0;
}

main .content .header{
 flex-grow: 100;
 margin-left: 3px;
 padding-bottom: 0px;
 text-align: left;
 background-color: #bfbfbf;
 border-top: medium solid black;
 border-bottom: medium solid black;
 color: black;

}

.header h3{
    margin-top: 5px;
    margin-left: 3px;
}

.content .body p{
    margin-left: 5px;
}
.content .body img {
    float:right;
    margin-left: 5px;

}

table.BAR {
    background-color: #bfbfbf;
    border-top: medium solid black;
    border-bottom: medium solid black;
    color: black;
}

table.DATA {
    background-color: #fafafa;
    border-collapse: collapse;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

tr.DATA {
    background-color: #dddddd;
}

th {
    border-right: solid black 1px;
    padding: 5px;
}

tr.EVEN {
    background-color: #eeeeee;
}


td.BAR {
    background-color: #bfbfbf;
}

tt {
    font-family : courier;
}

pre {
    background-color: #dfdfdf;
    font-family : courier;
}

table.SPEEDBAR {
    background-color: none;
    border: medium solid black;
}

a:visited {
    color: #0000A0 ;
    text-decoration: none;
}

a:link {
    color: #0000F0 ;
    text-decoration: none;
}

a:active {
    color: #FF0000 ;
    text-decoration: underline overline;
}

a[href]:visited.sb {
    color: #0000A0 ;
    text-decoration: none;
    font-family : courier;
}

a[href]:link.SB {
    text-decoration: none;
    font-family : courier;
}

a[href]:hover.SB {
    background-color: orange ;
    text-decoration: none ;
    font-family : courier
}

a[href]:hover {
    text-decoration: underline overline;
}




/* Left menu */
.leftmenu {
    float:left;
}

.leftmenu h3{
    text-align: center;
    background-color: none;
    border-top: medium solid black;
    border-left: medium solid black;
    border-right: medium solid black;
    margin: 0px;
    padding: 2px;
}


.leftmenu .left-header{
    background-color: #bfbfbf;
    border-left: medium solid black;
    border-right: medium solid black;
    padding-left: 1px;
    padding: 2px;
}

.leftmenu .left-header img{
    margin-right: 3px;
}

.leftmenu .section .element{
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 3px;
    border-left: medium solid black;
    border-right: medium solid black;
    padding-bottom: 3px;

}

.leftmenu .section .element img{
    margin-right: 4px;

}

.leftmenu .bottom {
    text-align: center;
    background-color: #bfbfbf;
    border-left: medium solid black;
    border-right: medium solid black;
    border-bottom: medium solid black;
    padding: 2px;

}
