<header>
    <span>
	<img id="cedet-logo" alt="Cedet logo" src="img-gen/cedet-logo-left.png"/>
    </span>
    <span id="cedet-logo-middle" alt="Middle logo header">
    </span>
    <span>
	<img id="cedet-logo-right" alt="Right logo header" src="img-gen/cedet-logo-right.png"/>
    </span>
</header>
<!-- <table cellspacing="0" border="0" width="100%"><tr>
     <td background="img-gen/cedet-logo-left.png" width="779" height="225">&nbsp;</td>
     <td background="img-gen/cedet-logo-middle.png" height="225">&nbsp;</td>
     <td background="img-gen/cedet-logo-right.png" width="27" height="225">&nbsp;</td>
     </table> -->
